.Card {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  padding: 20px;

  &:hover,
  &:focus {
    opacity: 0.7;
    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
  }
}

.TitleIndex {
  margin-right: 15px;
}
